html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  height: 100%;
}


body {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #373a3c;
}

#outer-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85) 15%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 1) 100%);
    background-attachment: fixed;
    margin: 0;
}

 .card-image {
	width: 46%;
   float: left;
   height: auto;
 }

  .card-details{
   display: block;
   float: right;
   width: 52%;
   text-align: left;

 }

  .card-details > h3 {
   margin-top: 10px;
   margin-bottom: 5px;
   font-weight: bold;
   text-transform: uppercase;
 }

 .ellipsis {
   margin-top: 30px;
   margin-bottom: 5px;
   color: #666;
   font-size: 15px;
   line-height: 150%;
   margin-right: 2px;
   margin-left: 2px;
 }

 .card-details> p {
   margin: 0;
   font-size: 13px;
}
.item-list {
display: flex;
flex-direction: row;
list-style:none;
white-space: nowrap;
margin-top: 30px;
text-align: center;
font-size: 20px;
font-weight: bold;
margin-left: 50px;
}

.item-list > li {
  padding-right: 50px;
}

.movie-tagline{
font-weight: bold;
font-size: 20px;
padding-bottom: 20px;
}
.movie-overview {
  font-size: 15px;
  padding-bottom: 20px;
}

.movie-subdetails {
  font-size: 15px;
  font-weight: bold;
}

.movie-metadata {
    display: block;
    color: #00FC87;
    font-size: 20px;
    font-family: lato;
}
.movie-details { margin-top: 40px; }

.search {
  background-color: #fafafa;
}

.show-grid2 {
  margin-top: 30px;
}

.green {
  color: #00FC87;
  font-size: 15px;
}

footer {
    padding: 30px 0;
    float: left;
    font-size: .9em;
    text-align: center;
    width: 100%;
    text-shadow: 1px 1px 1px #000;
    font-size: 20px;
    text-decoration: none;
    color: #6A6C6E;
}

footer > span {
      display: block;
    padding: 0 0 10px;
}


footer > span > i {
margin-right: 5px;
}

footer > span > a {
  color: #00FC87;
    
    transition:.7s;
    padding: 8px;
}

footer > span > a:hover {
     color: #6A6C6E;
      transition:.7s;
}


.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 280px;
  height: 35px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 38px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.searchResult-text {
  line-height: 21px;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
  display: block;
}

.searchResult-image {
    width: 40px;
    height: 50px;
    float: left;
    margin-right: 8px;
}

.searchResult-name {
    font-weight: bold;
    color: black;
}

.searchResult-date {
    color: #00FC87;
}

.searchResult-link {
  display: block;
  padding: 5px;
  text-decoration: none;
}
