* {
  box-sizing: border-box;
}
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  height: 100%;
  color: #000;
}


body {
    height: 100%;
    background-repeat: repeat;
    background-size: cover;
    color: #000;
    font-family: 'Open Sans', sans-serif;
}

.poster-image {
  width: 100%;
  border-radius: 0 0 3px 3px;
  padding-right: 30px;
  float: left;
}
.navbar {
  background: none;
  border-color:transparent;
  border-bottom: 0.5px solid #00FC87;
  padding-top: 2em;
  padding-bottom: 1em;
}
.navbar-form {border-top: transparent ; border-bottom: transparent}
#outer-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85) 15%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 1) 100%);
    background-attachment: fixed;
    margin: 0;
}
..meta-data-container{
  margin-left: 12em;
}

.meta-data-container h2 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.2em;
  margin-top: 2em;
}

.movie-tagline{
display: block;
font-size: 2.3em;
padding-bottom: .25em;
margin-top: 2rem;
margin-bottom: 1.5rem;

}

.movie-overview {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 15px;
  padding-bottom: 20px;
  max-width: 500px;
  line-height: 2em;
}

.movie-subdetails2 {
  margin-top: 2rem;
}
.movie-subdetails {
 margin: 25px 0 20px;
 font-size: 1.5rem;
}

.nopadding {
  padding: 0;
}

.meta-data {
  display: block;
  color: #00FC87;
  font-size: 1.6em;
  line-height: 1.1em;
}
 .card-image {
  width: 46%;
   float: left;
   height: auto;
 }

  .card-details{
   display: block;
   float: right;
   width: 52%;
   text-align: left;

 }

  .card-details > h3 {
   margin-top: 10px;
   margin-bottom: 5px;
   font-weight: bold;
   text-transform: uppercase;
 }

 .text-ellipsis {
    display: block;
    display: -webkit-box;
    max-width: 400px;
    height: 10em;
  margin: auto;
   color: #000;
   font-size: 15px;
   line-height: 2em;
   -webkit-line-clamp: 5;
   -webkit-box-orient: vertical;
   overflow: hidden;
  text-overflow: ellipsis;

 }


.item-list {
margin-top: 30px;
font-size: 20px;
font-weight: bold;
list-style-type: none;
}
.item-Glyph{
  padding-right: 0.5rem;
}


.item-list > li {
  padding-right: 4rem;
}

.movie-subdetails1 {
  font-size: 15px;
  font-weight: bold;
}

.movie-metadata {
    display: block;
    color: #00FC87;
    font-size: 20px;
    font-family: lato;
}


.popular-movies {
  background-color: #222629;
}

.show-grid2 {
  margin-top: 30px;
}

.green {
  color: #00FC87;
  font-size: 15px;
}

footer {
  padding-top: 4em;
    float: left;
    font-size: .9em;
    text-align: center;
    width: 100%;
    text-shadow: 1px 1px 1px #000;
    font-size: 20px;
    text-decoration: none;
}

footer > span {
      display: block;
    padding: 0 0 10px;
}


footer > span > i {
margin-right: 5px;
}

footer > span > a {
  color: #00FC87;
    
    transition:.7s;
    padding: 8px;
}

footer > span > a:hover {
     color: #6A6C6E;
      transition:.7s;
}


.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 280px;
  height: 35px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 38px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.searchResult-text {
  line-height: 21px;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
  display: block;
}

.searchResult-image {
    width: 40px;
    height: 50px;
    float: left;
    margin-right: 8px;
}

.searchResult-name {
    font-weight: bold;
    color: black;
}

.searchResult-date {
    color: #00FC87;
}

.searchResult-link {
  display: block;
  padding: 5px;
  text-decoration: none;
}


.play-list {
  cursor: pointer;
}


.wrapper{
  overflow:hidden;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.85);
  color: white;
}