html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}


body {
  margin: 0;
}

.container {

	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

 .movie-card {
   float: left;
   margin-right: 2%;
   border: 1px solid #c1c1c1;
   border-radius: 4px;
   text-align: left;
   width: 32%;
   height: 0;
   padding-bottom: 19.8%;
   overflow: hidden;
   margin-bottom: 2%;

 }

 .card-image {
	width: 46%;
   float: left;
 }

  .card-details{
   display: block;
   float: right;
   width: 52%;
   text-align: left;

 }

  .card-details > h3 {
   margin-top: 10px;
   margin-bottom: 5px;
   font-weight: bold;
   text-transform: uppercase;
 }

 .card-details > h4 {
   margin-top: 30px;
   margin-bottom: 5px;
   color: #666;
   font-size: 15px;
   line-height: 150%;
   margin-right: 2px;
   margin-left: 2px;
 }

 .card-details> p {
   margin: 0;
   font-size: 13px;
}