html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  height: 100%;
}


body {
    background: black;
    background-repeat: no-repeat;
    font-family: $lato;
    background-size: cover;
    height: 100%;
}
#outer-container {
      background-image: linear-gradient(rgba(0, 0, 0, 0.85) 15%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 1) 100%);
    background-attachment: fixed;
    margin: 0;
}


 .movie-card {
   float: left;
   margin-right: 2%;
   border: 1px solid #c1c1c1;
   border-radius: 4px;
   text-align: left;
   width: 32%;
   height: 0;
   padding-bottom: 19.8%;
   overflow: hidden;
   margin-bottom: 2%;

 }

 .card-image {
	width: 46%;
   float: left;
 }

  .card-details{
   display: block;
   float: right;
   width: 52%;
   text-align: left;

 }

  .card-details > h3 {
   margin-top: 10px;
   margin-bottom: 5px;
   font-weight: bold;
   text-transform: uppercase;
 }

 .card-details > h4 {
   margin-top: 30px;
   margin-bottom: 5px;
   color: #666;
   font-size: 15px;
   line-height: 150%;
   margin-right: 2px;
   margin-left: 2px;
 }

 .card-details> p {
   margin: 0;
   font-size: 13px;
}
.item-list {
display: flex;
flex-direction: row;
list-style:none;
white-space: nowrap;
margin-top: 30px;
text-align: center;
}

.item-list > li {
  padding-right: 50px;
}

.movie-tagline{
font-weight: bold;
font-size: 20px;
padding-bottom: 20px;
}
.movie-overview {
  font-size: 15px;
  padding-bottom: 20px;
}

.movie-subdetails {
  font-size: 15px;
  font-weight: bold;
}

.movie-metadata {
  display: block;
    color: #00FC87;
}
.movie-details { margin-top: 40px; }